#content.container
  %div.well
    %h1 #{@channel_name}
    %ul
      - @dates.each do |date|
        - pretty_date = date.strftime("%Y-%m-%d")
        %li= link_to("/#{@channel}/#{pretty_date}.html", pretty_date)
