!!!
%html{:lang => "en"}
  %head
    %title Voicebox
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap.css", :type => "text/css"}
    %link{:rel => "stylesheet/less", :href => "/css/voicebox.less", :type => "text/css"}
    %script{:src => "/js/less.js", :type => "text/javascript"}
  %body
    = yield
